<div class="login-container">
  <main class="form-signin w-100 m-auto">
    <h1 class="h3 mb-3 fw-normal">
      {{ 'emailconfirmationwelcome' | translate }}
    </h1>
    <p *ngIf="!showError">{{ 'emailconfirmationthankyou' | translate }}</p>
    <div *ngIf="showError" class="alert alert-danger" role="alert">
      <span [innerHTML]="errorMessage"></span>
    </div>
    <div class="d-flex justify-content-between">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="continue()">
        {{ 'emailconfirmationcontinue' | translate }}
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="this.authService.logout()">
        {{ 'navbarlogout' | translate }}
      </button>
    </div>
  </main>

  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</div>
