html,
body {
  height: 100%;
}

.login-container {
  display: flex; /* or grid */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.formstyle {
  margin-bottom: 1em;
}

.loginbutton {
  margin-bottom: 1em;
}

.text-danger {
  font-style: italic;
}

button {
  margin-top: 1rem;
}

.custom-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.custom-card {
  width: 200%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardboxcustom {
  background-color: rgba($color: #ff0b0b, $alpha: 0.3);
}

#bgbtnbacksucces {
  color: white;
  font-weight: bold;
  background-color: rgb(108, 108, 108);
}

#bgbtnbacksucces:hover {
  transition: 0.3s;
  background-color: rgb(41, 41, 41);
}
