<div class="login-container">
  <main class="form-signin w-100 m-auto">
    <form
      [formGroup]="forgotPasswordForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="sendResetEmail(forgotPasswordForm.value.email)">
      <img
        class="mb-4"
        src="assets/logo-cutout-4.png"
        alt="image"
        alt=""
        class="img-fluid" />
      <h1 class="h3 mb-3 fw-normal">{{ 'loginforgotpassword' | translate }}</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder=""
          formControlName="email" />
        <label for="email">{{ 'loginemail' | translate }}</label>
        <div class="text-danger">
          <em *ngIf="validateControl('email') && hasError('email', 'required')">
            <i class="bi bi-exclamation-triangle"></i>
            {{ 'loginemailrequired' | translate }}</em
          >
          <em *ngIf="validateControl('email') && hasError('email', 'email')">
            <i class="bi bi-exclamation-triangle"></i>
            {{ 'loginemailpattern' | translate }}</em
          >
        </div>
      </div>

      <div *ngIf="showError">
        @if (!!alert) {
        <ngb-alert [type]="alert.type" (closed)="close()">{{
          alert.message
        }}</ngb-alert>
        }
      </div>

      <button
        class="btn btn-primary w-100 py-2 loginbutton"
        type="submit"
        [disabled]="!forgotPasswordForm.valid">
        {{ 'pwdresetsubmit' | translate }}
      </button>

      <div class="d-flex justify-content-between mt-3">
        <a routerLink="/auth/login" class="btn btn-outline-secondary btn-sm">
          {{ 'logintitle' | translate }}
        </a>

        <a routerLink="/auth/register" class="btn btn-outline-secondary btn-sm">
          {{ 'loginregister' | translate }}
        </a>
      </div>

      <p class="mt-5 mb-3 text-body-secondary">&copy; DeepDive 2024</p>
    </form>
  </main>
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</div>
