<h2>{{ 'settingscolorsettings' | translate }}</h2>
<div class="row row-cols-1 row-cols-md-3 text-center">
  <div class="col">
    <div
      class="card mb-4 rounded-3 shadow-sm"
      [ngClass]="{ 'border-primary': selectedTheme === 'light' }">
      <div
        class="card-header py-3"
        [ngClass]="{
          'text-bg-primary border-primary': selectedTheme === 'light'
        }">
        <h4 class="my-0 fw-normal">{{ 'settingscolorbright' | translate }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          <i class="bi bi-sun"></i>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{ 'settingscolorbrightdescription' | translate }}</li>
        </ul>
        <button
          [disabled]="selectedTheme === 'light'"
          type="button"
          class="w-100 btn btn-lg btn-primary"
          (click)="selectTheme('light')"
          (keyup.enter)="selectTheme('light')">
          @if(selectedTheme === 'light'){
          {{ 'settingscolorselected' | translate }}
          } @else{
          {{ 'settingscolorselect' | translate }}
          }
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div
      class="card mb-4 rounded-3 shadow-sm"
      [ngClass]="{ 'border-primary': selectedTheme === 'dark' }">
      <div
        class="card-header py-3"
        [ngClass]="{
          'text-bg-primary border-primary': selectedTheme === 'dark'
        }">
        <h4 class="my-0 fw-normal">{{ 'settingscolordark' | translate }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          <i class="bi bi-moon-stars"></i>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{ 'settingscolordarkdescription' | translate }}</li>
        </ul>
        <button
          [disabled]="selectedTheme === 'dark'"
          type="button"
          class="w-100 btn btn-lg btn-primary"
          (click)="selectTheme('dark')"
          (keyup.enter)="selectTheme('dark')">
          @if(selectedTheme === 'dark'){
          {{ 'settingscolorselected' | translate }}
          } @else{
          {{ 'settingscolorselect' | translate }}
          }
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div
      class="card mb-4 rounded-3 shadow-sm"
      [ngClass]="{ 'border-primary': selectedTheme === 'system' }">
      <div
        class="card-header py-3"
        [ngClass]="{
          'text-bg-primary border-primary': selectedTheme === 'system'
        }">
        <h4 class="my-0 fw-normal">
          {{ 'settingscolorsystempreference' | translate }}
        </h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          <i class="bi bi-circle-half"></i>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{ 'settingscolorsystempreferencedescription' | translate }}</li>
        </ul>
        <button
          class="w-100 btn btn-lg btn-primary"
          [disabled]="selectedTheme === 'system'"
          type="button"
          (click)="selectTheme('system')"
          (keyup.enter)="selectTheme('system')">
          @if(selectedTheme === 'system'){
          {{ 'settingscolorselected' | translate }}
          } @else{
          {{ 'settingscolorselect' | translate }}
          }
        </button>
      </div>
    </div>
  </div>
</div>
<h2>{{ 'settingslanguagesettings' | translate }}</h2>
<div class="col-md-3 mb-4">
  <select
    [(ngModel)]="selectedLanguage"
    (change)="changeLanguage($event)"
    class="form-select"
    aria-label="Language select">
    <option value="en">English</option>
    <option value="fr">Français</option>
    <option value="nl">Nederlands</option>
  </select>
</div>

<div class="mb-4">
  <h2>{{ 'settingsdisabletitle' | translate }}</h2>
  <p>
    {{ 'settingsdisabledescription' | translate }}
  </p>

  <button (click)="open(disable)" class="btn btn-outline-danger col-md-3">
    <i class="bi bi-person-lock"></i>
    {{ 'settingsdisabletitle' | translate }}
  </button>
</div>

<ng-template #disable let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ 'settingsdisableareyousure' | translate }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>{{ 'settingsdisableconfirmation' | translate }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel disable')">
      <i class="bi bi-x-lg"></i>
      {{ 'settingsdisableconfirmationcancel' | translate }}
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('ok disable')">
      <i class="bi bi-person-lock"></i>
      {{ 'settingsdisableconfirmationdisable' | translate }}
    </button>
  </div>
</ng-template>

<div class="mb-4">
  <h2>{{ 'settingsdeletetitle' | translate }}</h2>
  <p>
    {{ 'settingsdeletedescription' | translate }}
  </p>

  <button (click)="open(delete1)" class="btn btn-outline-danger col-md-3">
    <i class="bi bi-trash3"></i>
    {{ 'settingsdeletetitle' | translate }}
  </button>
</div>

<ng-template #delete1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ 'settingsdeleteareyousure' | translate }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>{{ 'settingsdeleteconfirmation' | translate }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel delete')">
      <i class="bi bi-x-lg"></i>
      {{ 'settingsdeleteconfirmationcancel' | translate }}
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('ok delete')">
      <i class="bi bi-trash3"></i>
      {{ 'settingsdeleteconfirmationdisable' | translate }}
    </button>
  </div>
</ng-template>
